.nav-bar{
    background-color: transparent !important;
}

.nav-sign li a {
    font-size: 18px;
    padding: 8px 12px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    color: #7f479a;
    font-weight: 400;
    font-family: "Berkshire Swash";
    border-radius: 35px;
    width: 145px;
    height: 50px;
    transition: ease all .5s;
    background: #f7ea66;
    cursor: pointer;
}