@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

body {
  font-family: 'Berkshire Swash', cursive;
}

:root {
  --indigo: #2C0047;
  --purple: #6f42c1;
  --yellow: #F7EA66;
}

@media (min-width: 768px) {
  .container {
    width: 992px !important;
  }
}

@media (min-width: 992px) {
  .container {
    width: 1140px !important;
  }
}